body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 45em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; float: left; margin-left: 3px; }
.entries li p   { font-family: "Courier", monospace; text-align: right; 
                  font-size: 9pt; }
.entries li pre { white-space: pre-wrap; font-family: Verdana, sans-serif;
                  line-height: 17px; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.button         { width: 18px; height: 18px; display: inline-block;
                  float: left; }
.footer         { border-top: 1px solid #ccc; padding: 2px; height: 20px; }
.back           { float: left; }
.forward        { float: right; }
